/* Reset some default styles for better consistency across browsers */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

/* Basic styling for better readability */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
	min-height: 100vh;
	
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
	display: flex;
	justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
}

nav a:hover {
	text-decoration: none;
}

nav a:hover::after {
	content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

section {
    flex: 1;
    padding: 2rem;
    min-height: 100vh;
	box-sizing: border-box;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

label2 {
    display: block;
    margin-bottom: 0.5rem;
	text-align: right;
}

input,
textarea {
	resize: none;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer p {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
	margin-top: auto;
    width: 100%;
	box-sizing: border-box;
}

#portfolio {
    display: flex;
    justify-content: center;
	background-image: url("leaves-background.jpg");
	background-size: cover;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 4000px;
    margin: 0 auto;
	margin-top: 7rem;
	margin-left: 12rem;
	margin-right: 12rem;
}

.project {
    width: 48%; /* Adjust the width as needed */
    box-sizing: border-box;
    margin-bottom: 10rem; /* Adjust the margin as needed */
	border: 2px solid #000;
	 background-color: #FFFFFF;
}

.project video {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Set maximum width to 100% */
    height: auto; /* Allow the height to adjust proportionally */
	border: 2px solid #000;
	box-sizing: border-box;
}

.project .sinker-video {
    margin-top: 3rem; /* Add margin or adjust as needed */
}

.project .hexmatch-video {
    margin-top: 1.5rem; /* Add a different margin as needed */
}

.project h2 {
	margin-top: 1.5rem;
	text-align: center;
	overflow-wrap: break-word;
}

.project-description {
    text-align: left;
    margin-top: 2rem;
	margin-left: 4rem;
	margin-right: 4rem;
}
