/* Reset some default styles for better consistency across browsers */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic styling for better readability */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
}

section {
    padding: 2rem;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles for Portfolio section */
.project {
    margin-bottom: 2rem;
}

.project h2 {
    color: #333;
}

.project p {
    color: #666;
}

.project a {
    display: block;
    margin-top: 0.5rem;
    color: #007BFF;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* Add this rule to make the footer text white */
footer p {
    color: #fff;
}